<!-- Footer compoenent for all page -->
<footer class="section-common page-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="section-common__main-title col-xs-12">Hofmann</h3>
                <p class="section-common__main-desc col-xs-12">Hoffman UI Kit was made to help you quickly create
                    beautiful layouts of responsive websites.</p>
                <div class="page-footer__subcribe">
                    <p class="col-xs-12">Subcribe to our news</p>
                    <form class="form-subcribe col-xs-12" action="javascript:void(0)" method="post">
                        <div class="form-group">
                            <div class="input-group col-xs-5">
                                <input class="form-control" type="email" name="email" placeholder="Your Email" />
                                <div class="input-group-addon"><span class="glyphicon glyphicon-menu-right"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <nav class="navigation col-xs-12">
                    <ul class="navigation-menu">
                        <li class="main-menu col-xs-4"><a href="javascript:void(0)">About us</a></li>
                        <li class="main-menu col-xs-4"><a href="javascript:void(0)">Testimonials</a></li>
                        <li class="main-menu col-xs-4"><a href="javascript:void(0)">Documentation</a></li>
                        <li class="main-menu col-xs-4"><a href="javascript:void(0)">Explore</a></li>
                        <li class="main-menu col-xs-4"><a href="javascript:void(0)">Blog</a></li>
                        <li class="main-menu col-xs-4"><a href="javascript:void(0)">Help</a></li>
                        <li class="main-menu col-xs-4"><a href="javascript:void(0)">Contact</a></li>
                        <li class="main-menu col-xs-4"><a href="javascript:void(0)">News</a></li>
                        <li class="main-menu col-xs-4"><a href="javascript:void(0)">Privacy</a></li>
                    </ul>
                </nav>
                <div class="page-footer__follow">
                    <p class="col-xs-12">Follow us</p>
                    <ul class="social-menu col-xs-12">
                        <li class="main-social-menu"><a class="sprite sprite-pinterest-footer"
                                href="javascript:void(0)"></a></li>
                        <li class="main-social-menu"><a class="sprite sprite-linkedin-footer"
                                href="javascript:void(0)"></a></li>
                        <li class="main-social-menu"><a class="sprite sprite-google-plus-footer"
                                href="javascript:void(0)"></a></li>
                        <li class="main-social-menu"><a class="sprite sprite-twitter-footer"
                                href="javascript:void(0)"></a></li>
                        <li class="main-social-menu"><a class="sprite sprite-facebook-footer"
                                href="javascript:void(0)"></a></li>
                        <li class="main-social-menu"><a class="sprite sprite-instagram-footer"
                                href="javascript:void(0)"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row page-footer__copyright">
            <p class="col-xs-12">&copy; 2016 Created by Goldenfox</p>
        </div>
    </div>
</footer>
