<!-- Header component for all page -->
<header class="page-header">
    <div class="container-fluid">
        <h1 class="logo"><a class="logo__link" href="javascript:void(0)"></a></h1>
        <ul class="social-menu">
            <li class="main-social-menu"><a class="sprite sprite-twitter" href="javascript:void(0)"></a></li>
            <li class="main-social-menu"><a class="sprite sprite-facebook" href="javascript:void(0)"></a></li>
            <li class="main-social-menu"><a class="sprite sprite-instagram" href="javascript:void(0)"></a></li>
        </ul>
        <nav class="navigation">
        <ul class="navigation-menu">
                <li class="main-menu"><a href="javascript:void(0)">Hotels</a></li>
                <li class="main-menu"><a href="javascript:void(0)">Airlines</a></li>
                <li class="main-menu"><a href="javascript:void(0)">Vacations</a></li>
                <li class="main-menu"><a href="javascript:void(0)">Find more</a></li>
        </ul><span class="menu-icon glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </nav>
    </div>
</header>
