{% extends "base.html" %}

{% block content %}
<section class="banner">
    <div class="branding">
        <h2 class="branding__slogan">See the unmatched beauty of the great lakes</h2>
        <div class="video-frame">
            <video>
                <source src="" type="video/mp4" />Your browser does not support the video tag.
            </video>
            <div class="sprite sprite-play-button"></div>
        </div>
    </div>
</section>
<section class="section-common feature">
    <div class="container-fluid">
        <h3 class="section-common__main-title">Features</h3>
        <p class="section-common__main-desc">We're talking it to the next level</p>
        <div class="row">
            <ul class="feature-list col-sm-5">
                <li class="feature-item row">
                    <div class="feature-item__icon sprite sprite-responsive"></div>
                    <div class="feature-item__content col-xs-10">
                        <h3 class="feature-item__title-content">Responsive layout</h3>
                        <p class="feature-item__desc-content">The past few years have seen a dramatic change in the
                            public perception of cosmetic surgery.</p>
                    </div>
                </li>
                <li class="feature-item row">
                    <div class="feature-item__icon sprite sprite-diamond"></div>
                    <div class="feature-item__content col-xs-10">
                        <h3 class="feature-item__title-content">Pixel perfect</h3>
                        <p class="feature-item__desc-content">About 64% of all on-line teens say that do things online
                            that they wouldn't want their parents to know about.</p>
                    </div>
                </li>
                <li class="feature-item row">
                    <div class="feature-item__icon sprite sprite-layers"></div>
                    <div class="feature-item__content col-xs-10">
                        <h3 class="feature-item__title-content">Organized layers</h3>
                        <p class="feature-item__desc-content">Are you one of the thousands of Iphone owners who has no
                            idea that they can get free games for their Iphone?</p>
                    </div>
                </li>
            </ul>
            <div class="feature-photo col-sm-7"></div>
        </div>
    </div>
</section>
<section class="section-common intro">
    <div class="container-fluid">
        <div class="row">
            <h3 class="intro__main-title col-xs-12">Get your free version</h3>
            <p class="intro__main-desc col-xs-12">Having used discount toner catridges for twenty years, there have been
                a lot of changes in the toner catridge market. The market today is approximately a twenty billion dollar
                business.</p>
        </div>
        <div class="row">
            <button class="btn intro__btn" type="submit">Download</button>
        </div>
    </div>
</section>
<section class="section-common testimonials">
    <div class="container-fluid">
        <h3 class="section-common__main-title">Testimonials</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="testimonials__photo-avatar col-xs-3"><img src="static/images/avatar/tablet-lulu-hoffman.jpg"
                        alt="lulu-hoffman" /></div>
                <div class="member-detail col-xs-9">
                    <div class="member-detail__main-content">
                        <h3 class="member-detail__name">Lulu hoffman</h3>
                        <p class="member-detail__position-job">Marketing Consultant at okodesign.net</p>
                        <p class="member-detail__status">If you are an entrepreneur, you know that your success cannot
                            depend on the opinions of others. Like the wind, opinions change...like the weather,
                            opinions change frequently.</p>
                    </div>
                    <ul class="social-menu">
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-linkedin-testimonials" href="javascript:void(0)"></a></li>
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-twitter-testimonials" href="javascript:void(0)"></a></li>
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-google-plus-testimonials" href="javascript:void(0)"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="testimonials__photo-avatar col-xs-3"><img src="static/images/avatar/tablet-elsie-duncan.jpg"
                        alt="elsie-duncan" /></div>
                <div class="member-detail col-xs-9">
                    <div class="member-detail__main-content">
                        <h3 class="member-detail__name">Elsie duncan</h3>
                        <p class="member-detail__position-job">Project Manager at okodesign.net</p>
                        <p class="member-detail__status">Ever heard of the Fuller Brush Man? You know, those legendary
                            guys who came knocking on the front doors of America, selling brushes, mops and cleaners?
                        </p>
                    </div>
                    <ul class="social-menu">
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-facebook-testimonials" href="javascript:void(0)"></a></li>
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-twitter-testimonials" href="javascript:void(0)"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="testimonials__photo-avatar col-xs-3"><img src="static/images/avatar/tablet-dustin-gonzales.jpg"
                        alt="dustin-gonzales" /></div>
                <div class="member-detail col-xs-9">
                    <div class="member-detail__main-content">
                        <h3 class="member-detail__name">Dustin gonzales</h3>
                        <p class="member-detail__position-job">CEO at hofmannui.net</p>
                        <p class="member-detail__status">Do you remember the story of "The Wizard of Oz"? In this story
                            we saw the characters of Dorothy, who had wanted to run away from home because she thought
                            there was a better place somewhere.</p>
                    </div>
                    <ul class="social-menu">
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-facebook-testimonials" href="javascript:void(0)"></a></li>
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-linkedin-testimonials" href="javascript:void(0)"></a></li>
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-google-plus-testimonials" href="javascript:void(0)"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="testimonials__photo-avatar col-xs-3"><img src="static/images/avatar/tablet-laura-parks.jpg"
                        alt="laura-parks" /></div>
                <div class="member-detail col-xs-9">
                    <div class="member-detail__main-content">
                        <h3 class="member-detail__name">Laura parks</h3>
                        <p class="member-detail__position-job">UX Lead at hofmannui.net</p>
                        <p class="member-detail__status">They are big, bold and beautiful. Billboards have been around
                            for quite a while. In almost all places nowadays you can find billboards of just about every
                            product there is in the market. No matter how you see it, billboard advertising is on the
                            rise.</p>
                    </div>
                    <ul class="social-menu">
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-facebook-testimonials" href="javascript:void(0)"></a></li>
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-linkedin-testimonials" href="javascript:void(0)"></a></li>
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-twitter-testimonials" href="javascript:void(0)"></a></li>
                        <li class="main-social-menu testimonials-social-menu"><a
                                class="sprite sprite-google-plus-testimonials" href="javascript:void(0)"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-common plan">
    <div class="container-fluid">
        <h3 class="section-common__main-title">Choose your plan</h3>
        <div class="row plan__package">
            <div class="plan__main-package plan__silver-package">
                <p class="plan__package-name">Silver</p>
                <p class="plan__package-cost"><sup>$</sup> 49</p>
                <p class="plan__package-time">year</p>
                <p class="plan__package-benefit">Personal Account<br />25 GB Discspace<br />50 Uploads per day</p><a
                    class="btn plan__package-btn" href="javascript:void(0)">Purchase</a>
            </div>
            <div class="plan__main-package plan__golden-package active">
                <p class="plan__package-name">Gold</p>
                <p class="plan__package-cost"><sup>$</sup> 99</p>
                <p class="plan__package-time">year</p>
                <p class="plan__package-benefit">Personal Account<br />50 GB Discspace<br />500 Uploads per day</p><a
                    class="btn plan__package-btn" href="javascript:void(0)">Purchase</a>
            </div>
            <div class="plan__main-package plan__platinum-package">
                <p class="plan__package-name">Platinum</p>
                <p class="plan__package-cost"><sup>$</sup> 299</p>
                <p class="plan__package-time">year</p>
                <p class="plan__package-benefit">Team Account<br />500 GB Discspace<br />Unlimited Uploads per day</p><a
                    class="btn plan__package-btn" href="javascript:void(0)">Purchase</a>
            </div>
        </div>
        <div class="row plan__radio-select-package">
            <div class="col-xs-4"><a class="main-radio-select-package" href="javascript:void(0)">Silver</a></div>
            <div class="col-xs-4"><a class="active main-radio-select-package" href="javascript:void(0)">Gold</a></div>
            <div class="col-xs-4"><a class="main-radio-select-package" href="javascript:void(0)">Platinum</a></div>
        </div>
    </div>
</section>
<section class="section-common portfolio">
    <div class="container-fluid">
        <h3 class="section-common__main-title">Portfolio</h3>
        <div class="row">
            <div class="portfolio__detail col-xs-6 col-sm-4">
                <div class="portfolio__photo"><img src="static/images/portfolio/blue-mountains.jpg" alt="blue-mountains" />
                    <div class="portfolio-intro">
                        <div class="portfolio-intro__main">
                            <div class="row">
                                <h3 class="portfolio-intro__title col-xs-9 col-sm-12">Blue mountains</h3>
                                <div class="portfolio-intro__view-icon col-xs-2"><span
                                        class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                            </div>
                            <p class="portfolio-intro__time">17 Apr 2016</p>
                        </div>
                        <div class="portfolio-intro__desc">
                            <p class="portfolio-intro__desc--content">Planning a vacation to Europe? No doubt you have
                                certain expectations about your upcoming journey.</p>
                        </div>
                        <div class="portfolio-intro__overview row">
                            <div class="portfolio-intro__view col-xs-4">
                                <p class="portfolio-intro__count view-count"><span class="glyphicon glyphicon-eye-open"
                                        aria-hidden="true"></span>9292</p>
                            </div>
                            <div class="portfolio-intro__love col-xs-4">
                                <p class="portfolio-intro__count love-count"><span class="glyphicon glyphicon-heart"
                                        aria-hidden="true"></span>1273</p>
                            </div>
                            <div class="portfolio-intro__comment col-xs-4">
                                <p class="portfolio-intro__count comment-count"><span
                                        class="glyphicon glyphicon-comment" aria-hidden="true"></span>4894</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__detail col-xs-6 col-sm-4">
                <div class="portfolio__photo"><img src="static/images/portfolio/blue-mountain-high.jpg"
                        alt="blue-mountains-high" />
                    <div class="portfolio-intro">
                        <div class="portfolio-intro__main">
                            <div class="row">
                                <h3 class="portfolio-intro__title col-xs-9 col-sm-12">Blue mountains</h3>
                                <div class="portfolio-intro__view-icon col-xs-2"><span
                                        class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                            </div>
                            <p class="portfolio-intro__time">17 Apr 2016</p>
                        </div>
                        <div class="portfolio-intro__desc">
                            <p class="portfolio-intro__desc--content">Planning a vacation to Europe? No doubt you have
                                certain expectations about your upcoming journey.</p>
                        </div>
                        <div class="portfolio-intro__overview row">
                            <div class="portfolio-intro__view col-xs-4">
                                <p class="portfolio-intro__count view-count"><span class="glyphicon glyphicon-eye-open"
                                        aria-hidden="true"></span>9292</p>
                            </div>
                            <div class="portfolio-intro__love col-xs-4">
                                <p class="portfolio-intro__count love-count"><span class="glyphicon glyphicon-heart"
                                        aria-hidden="true"></span>1273</p>
                            </div>
                            <div class="portfolio-intro__comment col-xs-4">
                                <p class="portfolio-intro__count comment-count"><span
                                        class="glyphicon glyphicon-comment" aria-hidden="true"></span>4894</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__detail col-xs-6 col-sm-4">
                <div class="portfolio__photo"><img src="static/images/portfolio/blue-sea.jpg" alt="blue-sea" />
                    <div class="portfolio-intro">
                        <div class="portfolio-intro__main">
                            <div class="row">
                                <h3 class="portfolio-intro__title col-xs-9 col-sm-12">Blue mountains</h3>
                                <div class="portfolio-intro__view-icon col-xs-2"><span
                                        class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                            </div>
                            <p class="portfolio-intro__time">17 Apr 2016</p>
                        </div>
                        <div class="portfolio-intro__desc">
                            <p class="portfolio-intro__desc--content">Planning a vacation to Europe? No doubt you have
                                certain expectations about your upcoming journey.</p>
                        </div>
                        <div class="portfolio-intro__overview row">
                            <div class="portfolio-intro__view col-xs-4">
                                <p class="portfolio-intro__count view-count"><span class="glyphicon glyphicon-eye-open"
                                        aria-hidden="true"></span>9292</p>
                            </div>
                            <div class="portfolio-intro__love col-xs-4">
                                <p class="portfolio-intro__count love-count"><span class="glyphicon glyphicon-heart"
                                        aria-hidden="true"></span>1273</p>
                            </div>
                            <div class="portfolio-intro__comment col-xs-4">
                                <p class="portfolio-intro__count comment-count"><span
                                        class="glyphicon glyphicon-comment" aria-hidden="true"></span>4894</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__detail col-xs-6 col-sm-4">
                <div class="portfolio__photo"><img src="static/images/portfolio/green-mountains.jpg" alt="green-mountains" />
                    <div class="portfolio-intro">
                        <div class="portfolio-intro__main">
                            <div class="row">
                                <h3 class="portfolio-intro__title col-xs-9 col-sm-12">Blue mountains</h3>
                                <div class="portfolio-intro__view-icon col-xs-2"><span
                                        class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                            </div>
                            <p class="portfolio-intro__time">17 Apr 2016</p>
                        </div>
                        <div class="portfolio-intro__desc">
                            <p class="portfolio-intro__desc--content">Planning a vacation to Europe? No doubt you have
                                certain expectations about your upcoming journey.</p>
                        </div>
                        <div class="portfolio-intro__overview row">
                            <div class="portfolio-intro__view col-xs-4">
                                <p class="portfolio-intro__count view-count"><span class="glyphicon glyphicon-eye-open"
                                        aria-hidden="true"></span>9292</p>
                            </div>
                            <div class="portfolio-intro__love col-xs-4">
                                <p class="portfolio-intro__count love-count"><span class="glyphicon glyphicon-heart"
                                        aria-hidden="true"></span>1273</p>
                            </div>
                            <div class="portfolio-intro__comment col-xs-4">
                                <p class="portfolio-intro__count comment-count"><span
                                        class="glyphicon glyphicon-comment" aria-hidden="true"></span>4894</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__detail col-xs-6 col-sm-4">
                <div class="portfolio__photo"><img src="static/images/portfolio/high-green-mountains.jpg"
                        alt="high-green-mountains" />
                    <div class="portfolio-intro">
                        <div class="portfolio-intro__main">
                            <div class="row">
                                <h3 class="portfolio-intro__title col-xs-9 col-sm-12">Blue mountains</h3>
                                <div class="portfolio-intro__view-icon col-xs-2"><span
                                        class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                            </div>
                            <p class="portfolio-intro__time">17 Apr 2016</p>
                        </div>
                        <div class="portfolio-intro__desc">
                            <p class="portfolio-intro__desc--content">Planning a vacation to Europe? No doubt you have
                                certain expectations about your upcoming journey.</p>
                        </div>
                        <div class="portfolio-intro__overview row">
                            <div class="portfolio-intro__view col-xs-4">
                                <p class="portfolio-intro__count view-count"><span class="glyphicon glyphicon-eye-open"
                                        aria-hidden="true"></span>9292</p>
                            </div>
                            <div class="portfolio-intro__love col-xs-4">
                                <p class="portfolio-intro__count love-count"><span class="glyphicon glyphicon-heart"
                                        aria-hidden="true"></span>1273</p>
                            </div>
                            <div class="portfolio-intro__comment col-xs-4">
                                <p class="portfolio-intro__count comment-count"><span
                                        class="glyphicon glyphicon-comment" aria-hidden="true"></span>4894</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__detail col-xs-6 col-sm-4">
                <div class="portfolio__photo"><img src="static/images/portfolio/land.jpg" alt="land" />
                    <div class="portfolio-intro">
                        <div class="portfolio-intro__main">
                            <div class="row">
                                <h3 class="portfolio-intro__title col-xs-9 col-sm-12">Blue mountains</h3>
                                <div class="portfolio-intro__view-icon col-xs-2"><span
                                        class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                            </div>
                            <p class="portfolio-intro__time">17 Apr 2016</p>
                        </div>
                        <div class="portfolio-intro__desc">
                            <p class="portfolio-intro__desc--content">Planning a vacation to Europe? No doubt you have
                                certain expectations about your upcoming journey.</p>
                        </div>
                        <div class="portfolio-intro__overview row">
                            <div class="portfolio-intro__view col-xs-4">
                                <p class="portfolio-intro__count view-count"><span class="glyphicon glyphicon-eye-open"
                                        aria-hidden="true"></span>9292</p>
                            </div>
                            <div class="portfolio-intro__love col-xs-4">
                                <p class="portfolio-intro__count love-count"><span class="glyphicon glyphicon-heart"
                                        aria-hidden="true"></span>1273</p>
                            </div>
                            <div class="portfolio-intro__comment col-xs-4">
                                <p class="portfolio-intro__count comment-count"><span
                                        class="glyphicon glyphicon-comment" aria-hidden="true"></span>4894</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__detail col-xs-6 col-sm-4">
                <div class="portfolio__photo"><img src="static/images/portfolio/high-green-mountains.jpg"
                        alt="high-green-mountains" />
                    <div class="portfolio-intro">
                        <div class="portfolio-intro__main">
                            <div class="row">
                                <h3 class="portfolio-intro__title col-xs-9 col-sm-12">Blue mountains</h3>
                                <div class="portfolio-intro__view-icon col-xs-2"><span
                                        class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                            </div>
                            <p class="portfolio-intro__time">17 Apr 2016</p>
                        </div>
                        <div class="portfolio-intro__desc">
                            <p class="portfolio-intro__desc--content">Planning a vacation to Europe? No doubt you have
                                certain expectations about your upcoming journey.</p>
                        </div>
                        <div class="portfolio-intro__overview row">
                            <div class="portfolio-intro__view col-xs-4">
                                <p class="portfolio-intro__count view-count"><span class="glyphicon glyphicon-eye-open"
                                        aria-hidden="true"></span>9292</p>
                            </div>
                            <div class="portfolio-intro__love col-xs-4">
                                <p class="portfolio-intro__count love-count"><span class="glyphicon glyphicon-heart"
                                        aria-hidden="true"></span>1273</p>
                            </div>
                            <div class="portfolio-intro__comment col-xs-4">
                                <p class="portfolio-intro__count comment-count"><span
                                        class="glyphicon glyphicon-comment" aria-hidden="true"></span>4894</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio__detail col-xs-6 col-sm-4">
                <div class="portfolio__photo"><img src="static/images/portfolio/land.jpg" alt="land" />
                    <div class="portfolio-intro">
                        <div class="portfolio-intro__main">
                            <div class="row">
                                <h3 class="portfolio-intro__title col-xs-9 col-sm-12">Blue mountains</h3>
                                <div class="portfolio-intro__view-icon col-xs-2"><span
                                        class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                            </div>
                            <p class="portfolio-intro__time">17 Apr 2016</p>
                        </div>
                        <div class="portfolio-intro__desc">
                            <p class="portfolio-intro__desc--content">Planning a vacation to Europe? No doubt you have
                                certain expectations about your upcoming journey.</p>
                        </div>
                        <div class="portfolio-intro__overview row">
                            <div class="portfolio-intro__view col-xs-4">
                                <p class="portfolio-intro__count view-count"><span class="glyphicon glyphicon-eye-open"
                                        aria-hidden="true"></span>9292</p>
                            </div>
                            <div class="portfolio-intro__love col-xs-4">
                                <p class="portfolio-intro__count love-count"><span class="glyphicon glyphicon-heart"
                                        aria-hidden="true"></span>1273</p>
                            </div>
                            <div class="portfolio-intro__comment col-xs-4">
                                <p class="portfolio-intro__count comment-count"><span
                                        class="glyphicon glyphicon-comment" aria-hidden="true"></span>4894</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination-bar clearfix">
            <li><span class="glyphicon glyphicon-menu-left pagination-bar__icon-pre" aria-hidden="true"></span></li>
            <li><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li class="active"><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><span class="glyphicon glyphicon-menu-right pagination-bar__icon-next" aria-hidden="true"></span></li>
        </ul>
    </div>
</section>
<section class="section-common team">
    <div class="container-fluid">
        <div class="team-member-detail col-sm-6 col-sm-offset-6">
            <div class="row">
                <h3 class="team-member-detail__name">Gregory Francis</h3>
                <p class="team-member-detail__position-job">Chief engineer</p>
            </div>
            <div class="row">
                <p class="team-member-detail__status col-sm-10">I've started to work in company at 2009. Photographs are
                    a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been
                    tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least
                    tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today's
                    day and age.</p>
                <ul class="carousel team-carousel col-sm-1">
                    <li class="carousel__icon-item carousel-dot active"></li>
                    <li class="carousel__icon-item carousel-dot"></li>
                    <li class="carousel__icon-item carousel-dot"></li>
                    <li class="carousel__icon-item carousel-dot"></li>
                    <li class="carousel__icon-item carousel-dot"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-common contact">
    <div class="container-fluid">
        <h3 class="section-common__main-title">Stay in touch</h3>
        <div class="row contact__main-content">
            <div class="contact__photo col-md-2"></div>
            <form class="form-contact col-xs-12 col-sm-6 col-md-4" action="javascript:void(0)" method="post">
                <div class="row form-group">
                    <div class="col-xs-12">
                        <input class="input-name form-control" type="text" name="name" placeholder="Name*" />
                        <input class="input-email form-control" type="email" name="email" placeholder="Email*" />
                    </div>
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="message" placeholder="Message*" />
                    </div>
                </div>
                <div class="row form-contact__btn">
                    <button class="btn form-contact__btn--submit" type="submit">Submit</button>
                </div>
            </form>
            <div class="contact-info col-sm-6 col-md-3">
                <div class="contact-info__content">
                    <address class="contact-info__location"><a
                            href="https://www.google.com/maps/place/604+N%C3%BAi+Th%C3%A0nh,+H%E1%BA%A3i+Ch%C3%A2u,+%C4%90%C3%A0+N%E1%BA%B5ng/data=!4m2!3m1!1s0x314219ee2a68a37f:0xbb2654772f9e4baf?sa=X&amp;ved=0ahUKEwi5soij85HWAhWINI8KHe7SAA0Q8gEIIjAA"><span
                                class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>2300 W Arbutus Dr
                            Citrus Springs, FL 34434, USA</a></address>
                    <p class="contact-info__email"><a href="mailto:contact@hofmannui.net"><span
                                class="glyphicon glyphicon-envelope" aria-hidden="true"></span>contact@hofmannui.net</a>
                    </p>
                    <p class="contact-info__phone"><a href="tel:+084960249"><span class="glyphicon glyphicon-earphone"
                                aria-hidden="true"></span>793-891-7938, 952-775-6021</a></p>
                    <ul class="social-menu">
                        <li class="main-social-menu"><a class="sprite sprite-pinterest-contact"
                                href="javascript:void(0)"></a></li>
                        <li class="main-social-menu"><a class="sprite sprite-linkedin-contact"
                                href="javascript:void(0)"></a></li>
                        <li class="main-social-menu"><a class="sprite sprite-google-plus-contact"
                                href="javascript:void(0)"></a></li>
                        <li class="main-social-menu"><a class="sprite sprite-twitter-contact"
                                href="javascript:void(0)"></a></li>
                        <li class="main-social-menu"><a class="sprite sprite-facebook-contact"
                                href="javascript:void(0)"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="map"></div>
{% endblock %}
